extends layouts/main

block content
   .form-container
         form(action=`/users${routes.changePassword}`, method="post")
             input(type="password", name="oldPasswod", placeholder="현재 비밀번호",autocomplete="off")
             input(type="password", name="newPassword", placeholder="새로운 비말번호",autocomplete="off")
             input(type="password", name="newPassword1", placeholder="새로운 비밀번호 확인",autocomplete="off")
             input(type="submit", value="확인") 