extends layouts/main

block content
    .form-container
        form(action=`${routes.editProfile(user.id)}`, method = "post", enctype="multipart/form-data")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar", accept="image/*",autocomplete="off")
            input(type="text", placeholder=" 이름", name="name",autocomplete="off", value=loggedUser.name)
            input(type="email", placeholder=" 이메일", name="email",autocomplete="off", value=loggedUser.email)
            input(type="submit", value ="프로필 변경")