extends layouts/main
include mixin/videoBlock

block content
    .home-videos
        each video in videos
            +videoBlock({ 
                id: video.id,
                title : video.title,
                views : video.views,
                videoFile : video.fileURL,
                avatarUrl : video.creator.avatarUrl,
                creatorid : video.creator.id,
                creatorname : video.creator.name
            }) 