.social-login
    a(href=routes.github)
        button.social-login--github
            span
                i.fab.fa-github
            span.social-login__filed 깃허브 로그인
    a(href=routes.kakao)
        button.social-login--Kakaotalk
            span.social-login__filed
                i.fas.fa-comments
            span.social-login__filed 카카오톡 로그인
    a(href=routes.facebook)
        button.social-login--facebook
            span
                i.fab.fa-facebook
            span.social-login__filed 페이스북 로그인